@media screen and (max-width: 900px) {

    /* *{
    border: solid red 2px;
} */

    body {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #ffcc00;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
        height: 100vh;
    }

    .player{
        height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .play {
        position: absolute;
        top: 25vh;
        width: 65vw;
        height: 65vw;
        /* padding-left: 2vw; */
    }

    .txt-player {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: flex-start;
    }

    .logo {
        width: 26vw;
        height: 26vw;
        margin: 1.7vw;
    }

    .schedule {
        width: 100vw;
    }

    .point {
        width: 0px;
        height: 0px;
    }

    .scheduleleft {
        width: 100vh;
        font-size: 25vw;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
            "mon"
            "tue"
            "wed"
            "thu"
            "fri"
            "sat"
            "sun";
        padding-bottom: 5vh;

    }

    .mon,
    .tue,
    .wed,
    .thu,
    .fri,
    .sat,
    .sun {
        height: fit-content;
        width: 100vw;
    }

    .sliding-rows {
        height: 100vh;
        width: 100vw;
        background-color: #ffcc00;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 50px;
        overflow: hidden;
    }

    .sliding-text-container {
        padding-top: 5vh;
        height: fit-content;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .sliding-text {
        width: 100vw;
        overflow: hidden;
        white-space: nowrap;
        animation: slide-text;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-duration: 3s;
        animation-timing-function: linear;
    }

    .sliding-text1 {
        width: 100vw;
        overflow: hidden;
        white-space: nowrap;
        animation: slide-text1;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-duration: 4s;
        animation-timing-function: linear;
    }

    @keyframes slide-text {
        from {
            margin-left: 500px;
        }

        to {
            margin-left: -500px;
        }
    }

    @keyframes slide-text1 {
        from {
            margin-left: -900px;
        }

        to {
            margin-left: 500px;
        }
    }

    .piano-container {
        height: 50vh;
        width: 100vw;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .piano {
        width: 80vw;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .mouth {
        background-color: #660099;
        width: 100vw;
        height: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow {
        background-color: #ff3333;
        width: 100vw;
        height: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .mouth-img {
        width: 50vw;
        height: 50vh;
    }

    .freccia {
        width: 50vw;
        height: 50vh;
        rotate: -45deg;
        content: url(./assets/arrowup.svg);
    }

    @keyframes arrow-turn {}

}