@media screen and (max-width: 900px) {

    body{
        width: 100vw;
    }
    header{
        background-color: #ffcc00;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
        height: 100vh;
    }

    .play{
        width: 61vw;
        height: 65vw;
    }

    .txt-player{
        display: flex;
    flex-direction: column;
    gap: 10px;
  justify-content: baseline;
    }

    .logo{
        width: 26vw;
        height: 26vw;
        margin: 1.7vw;
    }

    .schedule{
        width: 100vw;
    }

    .point {
        width: 0px;
        height: 0px;
    }

    .scheduleleft{
        width: 100vh;
        font-size: 25vw;
        font-weight: 700;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
        "mon"
        "tue"
        "wed"
        "thu"
        "fri"
        "sat"
        "sun";
        padding-bottom: 30vh;

    }

    .mon,
.tue,
.wed,
.thu,
.fri,
.sat,
.sun {
    height: 110vh;
    width: 100vw;
}

    footer {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    
    .mouth {
        background-color: #660099;
        width: 100vw;
        height: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .arrow{
        background-color: #ff3333;
        width: 100vw;
        height: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .mouth-img{
        width: 50vw;
        height: 50vh;
    }
    
    .freccia{
        width: 50vw;
    height: 50vh;
    }
     
}