*{
    border: solid red 1px;
}

html, body{
    margin: 0px;
    padding: 0px;
  display: grid;
  height: 100%;
  grid-template-rows: 4;
}

header{
    background-color: #ffcc00;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.player{
    width: 15.85vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.schedule{
    /* display: flex;
    justify-content: flex-end; */
    background-color: #fafafa;
    /* height: 150vh; */
}

.scheduletop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
    font-size: 200px;
flex-basis: 1;
overflow: none;
}

.scheduleleft, .scheduleright{
width: 50%;
}

.point{
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    float: right;
    margin: 50px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    ". . mon"
    "tue wed ."
    ". thu ."
    ". . fri"
    "sat sun .";
    padding-bottom: 30vh;
}

.mon, .tue, .wed, .thu, .fri, .sat, .sun{
    height: 800px;
}

.mon{
    grid-area: mon;
}

.tue{
    grid-area: tue;
}

.wed{
    grid-area: wed;
}

.thu{
    grid-area: thu;
}

.fri{
    grid-area: fri;
}

.sat{
    grid-area: sat;
}

.sun{
    grid-area: sun;
}

ul{
    font-size: 50px;
    font-weight: 900;
    list-style-type: none;
}

li{
    font-size: 30px;
    display: inline-block;
}

.hour, .program{
    display: inline;
}

.program{
    padding: 0px 20px;
}

/* .sliding-rows{
    height: 50%;
    background-color: pink;
} */

.txt-player{
    margin: 1vh;
}

span{
    font-size: xx-large;
}

footer{
    background-color: orange;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.mouth{
    background-color: #660099;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    background-color: #ff3333;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



